{{!< default}}

    <header id="header" data-url="http://luoleiorg.b0.upaiyun.com/tmp/yasuko/yasuko.jpg" class="home-header blog-background banner-mask lazy {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
        <div class="nav-header-container">
             <a href="{{@blog.url}}" class="home-logo">羅</a>
        </div>
        <div class="header-wrap">
        <div class="home-info-container">
            <a href="{{@blog.url}}"><h2>Stay before every beautiful thoughts</h2></a>
            <h4>在每一个美好的思想前停留</h4>
        </div>
        <div class="arrow_down" data-offset="-45">
               <a href="javascript:;"></a>
        </div>
    </header>
{{! The main content area on the homepage }}
<main id="main" class="content homepage" role="main">
{{! Each post will be output using this markup }}
{{> "loop"}}
{{!! After all the posts, we have the previous/next pagination links }}

{{!-- {{pagination}} --}}
</main>


